body	{
	padding: 0;
	box-sizing: border-box;
}

form	{
	width: 75%;
	margin: auto;
}

h1, h1+p {
	text-align: center;
	font-family: sans-serif;
	margin-top: 0;
	margin-bottom: 20px;
}

legend	{
	font-family: monospace;
}

fieldset {
	margin-bottom: 20px;
	padding: 10px;
}

em	{
	color: red;
	font-weight: bold;
}

label {
	width: 150px;
	display: inline-block;
	margin: 7px;
	font-family: fantasy;
	vertical-align: top;
}

input, textarea	{
	width: 300px;
}

input[type="radio"], input[type="checkbox"]	{
	width: 20px;
	font-family: sans-serif;
}

input[type="date"] {
	width: 100px;
}

input[type="range"]	{
	width: 70%;
}

textarea {
	width: 70%;
	height: 100px;
	resize: none;
}

input	{
	width: 300px;
	margin: 7px;
}

select	{
   margin: 7px;
}

input[type="color"],
input[type="time"]	{
	width: 70px;
}

input[type="text"],
input[type="email"],
textarea	{
	padding: 2px 0.5em;
}

input[type="submit"]	{
	font-size: 1.5rem;
	padding: 0.5rem 1rem;
	width: 100%;
	background-color:rgb(90, 100, 150) ;
	margin: 10px 0;

}